<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个dao接口-->
<mapper namespace="com.example.demo.MyData.Dao.AliveUserDao">
        <resultMap type="com.example.demo.MyData.Entity.AliveUser" id="AliveUserMap">
                <!-- 指定主键列的封装规则
                    id定义主键会底层有优化
                    column:指定哪一列
                    property:指定对应的javaBean属性
                -->
                <id column="user_id" property="userId"/>
                <!-- 定义普通列封装规则 -->
                <result column="last_talk_time" property="lastTalkTime"/>
        </resultMap>
<select id="getAliveUser" resultMap="AliveUserMap">
        select * from  alive_user where user_id=#{param1}
</select>
<update id="upDateAliveUser" >
        UPDATE   alive_user set user_id=#{param1},last_talk_time=#{param2} where user_id=#{param1}
</update>
<insert id="addAliveUser" >
        INSERT INTO  alive_user VALUES (#{param1},#{param2})
</insert>
</mapper>